@model IEnumerable<ProyectoCalendario.Models.Calendario>

@{
    ViewBag.Title = "Calendario";
}

<h4>Datos de Calendario</h4>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table id="tablaCalendario" class="table">
    <tr>
        <th>
            Calendario
        </th>
        <th>
            Especie
        </th>
        <th>
            Fecha Inicio
        </th>
        <th>
            Fecha Fin
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)

    {
        <tr id=@Html.DisplayFor(modelItem => item.CalendarioId) class="sframe2">
<!-- <tr id=@Html.DisplayFor(modelItem => item.CalendarioId)>-->
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.especie.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FF)
            </td>
           
        </tr>
    
    }

</table>