@model IEnumerable<ProyectoCalendario.Models.DetalleCalendario>

@{
    ViewBag.Title = "Filtrado";
}
@{
    Layout = "";
}
<br>
<p>
    @Html.ActionLink("Crear Nuevo Detalle", "Create")
</p>
<table id="tablaDetalle" class="table">
    <tr>
        <th>
            Calendario
        </th>
        <th>
            Vacuna
        </th>
        <th>
            Edad Minima
        </th>
        <th>
            Edad Maxima
        </th>
        <th>
            Nro Veces
        </th>
        <th>
            Via Aplicacion
        </th>
        <th>
            Volumen
        </th>
        <th>
            Unidad
        </th>
        <th>
            Efectos
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id=@Html.DisplayFor(modelItem => item.VacunaId)>
            <td>
                @Html.DisplayFor(modelItem => item.calendario.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vacuna.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edadmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edadmax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroveces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.viaaplicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.volumen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.efectos)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DetallecalendarioId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DetallecalendarioId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DetallecalendarioId })
            </td>
        </tr>
    }

</table>
