@model ProyectoCalendario.Models.Pauta

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pauta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PautaId)

        <div class="form-group">
            <div class = "control-label col-md-2" >Vacuna</div>
            <div class="col-md-10">
                @Html.DropDownList("vacunaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.vacunaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Nro Veces</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroveces, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numeroveces, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Tipo Tiempo</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipotiempo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tipotiempo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Tiempo Inicial</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Pauta Inicial</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Tiempo Final</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TF, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Pauta Final</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PF, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
