@model IEnumerable<ProyectoCalendario.Models.Especie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Especie
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EspecieId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EspecieId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EspecieId })
        </td>
    </tr>
}

</table>
